<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mine Swap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="game.js"></script>
<div class="container-xxl my-md-4">
    <div class="row">
        <div class="col">
            <div th:each="y: ${#numbers.sequence(0, 4)}" class="row">
                <div th:each="x: ${#numbers.sequence(0, 4)}" th:data-x="${x}" th:data-y="${y}" class="col cell active"></div>
            </div>
        </div>

        <div class="col">
            <div class="col-md-12 col-md-12 mb-4">
                <h1>Mine Swap</h1>
                <button id="newGame" type="submit" class="btn btn-primary">New Game</button>
            </div>
            <div class="col-md-12 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">How to play</h5>
                        <b>Goal: to find a gold cell containing the prize</b>
                        <p>Cell items type:</p>
                        <ul class="card-text">
                            <li>green cell - all 4 neighbor cells horizontally and vertically contains no bombms. Diagonals are unknown.</li>
                            <li>👁 - one of 4 neighbor cells horizontally and vertically contains one bomb</li>
                            <li>👀 - 4 neighbor cells horizontally and vertically contains at least two bombs or maybe even more</li>
                            <li>🧨 - you found the bomb! GAME OVER!</li>
                            <li>👛 - you found the prize! You win!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>